[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Run Executable
Comment=Run Executable
#Exec="/bin/sh" -c %f
# working-directory 修改为要放的地方
# %f 修改为要运行的程序，如 queue-folder
Exec=gnome-terminal --working-directory=~/tmp -x %f
Icon=application.png
Terminal=false
