[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Run Executable
Comment=Run Executable
#Exec="/bin/sh" -c %f
# 使用方法：
#   1 修改 working-directory 为 queue-folder 程序文件所在的目录绝对路径
#   2 修改 %f 为要运行的程序绝对路径，如 queue-folder
#     如果不修改 %f 运行时要将程序拖放到此 desktop 文件上也可以
Exec=gnome-terminal --working-directory=/home/ellan/tmp -x %f
Icon=application.png
Terminal=false
